/*
colores
amarillo
#c8d23e
#ccd547
rojo
#f05656
fondo gris
#dbdbdb

fondo negro
#1d1d1b

gradiente vertical #c9d244   #00317e
*/
@font-face {
    font-family: 'Work Sans Regular';
    src: url(../fonts/WorkSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url(../fonts/WorkSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Light';
    src: url(../fonts/WorkSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Black';
    src: url(../fonts/WorkSans-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Extra Bold';
    src: url(../fonts/WorkSans-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Libre CaslonText Regular';
    src: url(../fonts/LibreCaslonText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Libre CaslonText Bold';
    src: url(../fonts/LibreCaslonText-Bold.ttf) format('truetype');
}



/* Aplica la fuente a los elementos deseados */
body {
    font-family: 'Libre CaslonText Regular', sans-serif;
}

.strong{
    font-family: 'Libre CaslonText Bold', sans-serif !important;
}
.strong-2{
    font-family: 'Work Sans Bold' !important;
}

p{
    margin-bottom: 10px;
}
a.btn-verde,
a.btn-rojo{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 2rem;
    font-size: 1rem;
    border-radius: .25rem;

    font-size: 12pt;
    box-shadow: 10px 10px 15px #1d1a191b;
}


.content-top-banner,
.content-main,
.content-footer,
.content-banner,
.content-info{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.content-top-banner .top-banner,
.content-main .main,
.content-info .info{
    
    width: 1024px;
    margin: 0 auto;
}
.content-info .info-2{
    width: 820px;
    margin: 0 auto;
    color: #fff;
    margin-top: 30px;
    background-color: #e06666; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.content-info .info-3{
    width: 820px;
    margin: 30px auto 20px;
    color: #fff;
    background-color: #1d1d1b; 
}
.content-top-banner,
.content-main,
.content-contacto{
    color: #fff;
    background-color: #1d1d1b;
}
.content-top-banner .top-banner{
    padding: 50px 0px;
    background-color: #fff;
}
.content-banner{
    padding: 55px 25px;
    background-color: #e06666;
}

.info-2-txt{
    font-size: 18pt;
    line-height: 1;
    font-family: 'Work Sans Black';
}
.info-2-verde img {
    height: fit-content;
}
.content-info{
    padding: 25px 25px;
    background-color: #dbdbdb;
}
.main{
    justify-content: space-between;
    gap: 25px;
    height: 1150px;
    padding: 50px 160px 60px;
    background-image: url('../images/bg-landing.png');
}
.body-respuesta .main{
    justify-content: space-between;
    gap: 0px;
    height: 757px;
    padding: 10px 120px 30px;
    background-image: url(../images/bg-gracias.jpg);
    background-size: cover;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 340px;
    padding: 15px 18px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, .8);
}
.titulo-form{
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    width: fit-content;
    font-size: 14pt;
    font-family: 'Work Sans Black';
    background-color: #e06666;
}
.subtitulo{
    font-size: 12pt;
    line-height: 1.15;
    font-family: 'Work Sans Black';
}
.form .nota{
    text-align: center;
    color: #616161;
    font-size: 7pt;
}
.form .divider{
    width: 2px;
    height: 76px;
    background-color: #00317e;
}
.subtitulo-form{

    color: #e06666;
    font-size: 10pt;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Work Sans Black';
}
.text-radio{
    width: 220px;
}
.text-radio,
.form-check-label{
    color: #616161;
    font-size: 6pt;
}
input[type=text],
select.form-select{
    color: #616161;
    padding: 3px 0;
    font-size: 8pt;
    border-radius: 0;
    background-color: transparent;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1px solid #1d1d1b;
}
select.form-select{
    background-position: right 0.15rem center;
}
.form-check .form-check-input{
    margin-left: -18px;
}
button.btn-verde,
a.btn-verde{
    color: #fff;
    background-color: #00317e;
    border-color: #00317e;
}
button.btn-rojo,
a.btn-rojo{
    color: #fff;
    background-color: #e06666;
    border-color: #e06666;
}
.btn-enviar{
    width: 100%;
    font-size: 16pt;
    text-transform: uppercase;
    background-image: url(../images/btn-bg.png);
    background-color: transparent !important;
    border-color: transparent !important;
    background-size: cover;
    background-position: center;
    font-family: 'Work Sans Regular';
}
.banner{
    justify-content: center;
    align-items: center;
}
.info{
    padding: 80px 50px 100px;
    gap: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 30px #1d1a191b;
    background-image: url('../images/bg-universidad.jpg');
    background-size: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top center;
}
.contorno{
    font-size: 9pt;
    line-height: 1.25;
    text-transform: uppercase;
    color: #00317e;
    padding: 5px 0;
    width: 180px;
    height: 85px;
    text-align: center;
    display: flex;
    border-top: 2px solid #00317e;
    border-bottom: 2px solid #00317e;
    justify-content: center;
    align-items: center;
    
    font-family: 'Work Sans Bold';
}
.txt-info{
    font-size: 8pt;
    color: #474747;
    text-align: center;
}
.icon-info{
    align-items: end;
    height: 75px;
}
.icon-info img{
    height: fit-content;
}
.line{
    height: 2px;
    width: 100%;
    background-color: #fff;
}
.titulo-seccion{
    font-size: 10pt;
    line-height: 1.25;
    font-family: 'Work Sans Black';
}
.txt-dato{
    font-size: 9pt;
    margin-bottom: 20px;
    font-family: 'Work Sans Regular';
}
.txt-dato-2{
    font-size: 9pt;
    font-family: 'Work Sans Regular';
}
.content-contacto{
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.text-contacto-titulo{
    font-size: 13pt;
    font-family: 'Work Sans Black';
    border-left: 5px solid #e06666;
    padding-left: 10px;
    margin-bottom: 20px;
    height: 16px;
    line-height: 1;
}
.contacto{
    font-size: 13pt;
    font-family: 'Work Sans Regular';
}
.txt-dato a{
    color: #fff;
    text-decoration: none;
}
.contacta-nuestros{
    font-size: 15pt;
    letter-spacing: 0.5px;
    font-family: 'Work Sans Black';
}
.cta-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 128px;
}
.footer{
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding: 15px 15px;
    font-size: 9pt;
    color: #dbdbdb;
    background-color: #000;
}
.text-footer{
    justify-content: center;
}
.text-footer a{
    color: #fff;
}
.info-botones{
    color: #767676;
    text-align: center;
    font-size: 5pt;
    width: 620px;
    margin: 0 auto;
}
.col-elegir{
    width: 240px;
}
.btn-descarga{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    width: 290px;
    height: 66px;
    color: #fff;
    font-family: 'Work Sans Black';
    font-size: 14pt;
    border-radius: 10px;
    background-image: url('../images/btn-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-descarga:hover,
.btn-descarga:active{
    color: #ffffff !important;
    box-shadow: 0px 0px 20px #1d1d1b56;
}
.malla{
    display: flex;
    flex: 1;
    font-size: 14pt;
    padding: 3px 0;
    color: #262626;
    border-bottom: 1px solid #262626;
}
.text-egp{
    justify-content: center;
    font-size: 24pt;
    color: #000;
}

/* ********************************** gestion publica  *************************** */
.titulo-top{
    font-size: 15pt;
    color: #00317e;
}
.text-rojo{
    color: #e06666 !important;
}
.text-bg-rojo{
    width: fit-content;
    padding: 0px 20px;
    text-transform: uppercase;
    background-color: #e06666;
}
.text-bg-rojo.medium{
    font-size: 22pt;
    font-family: 'Work Sans Bold';
}
.texto-blanco{
    font-size: 19pt;
    letter-spacing: 1px;
    line-height: 1.25;
    text-align: right;
    width: fit-content;
    font-family: 'Work Sans Black';
    text-shadow: 0px 0px 15px #1d1d1b19;
}
.texto-gestion{
    width: fit-content;
    padding: 5px 20px;
    color: #00317e;
    font-size: 32pt;
    text-transform: uppercase;
    border: 2px solid #e27474;
    background-color: #ffffffcc;
}
.text-gestion-efectiva{
    font-size: 16pt;
    line-height: 1.15;
    font-family: 'Work Sans Regular';
}
.divider-white-vertical-small{
    width: 36px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
}
.divider-white-vertical{
    width: 1px;
    height: 220px;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 20px;
}
.text-modalidad{
    text-align: center;
    font-size: 12pt;
    width: fit-content;
    padding: 8px 20px;
    border: 2px solid #fff;
    font-family: 'Work Sans Black';
}
.icon-requisito{
    width: 36px;
    padding-right: 8px;
}
.carousel-column{
    width: calc( 100%/3 );
    padding: 25px 15px 35px;
    background-color: #d9d9d9;
    border-radius: 5px;
}
.carousel-column:nth-child(2n){
    background-color: #ffcfcf;
}
.carousel-column .titulo-carousel{
    gap: 5px;
    height: 34px;
    align-items: start;
    color: #767474;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Work Sans Black';
}
.carousel-column:nth-child(2n) .titulo-carousel{
    color: #ff6666;
}

.carousel-column .titulo-carousel span{
    font-size: 32pt;
    line-height: 1;
}
.carousel-divider{
    background-color: #6c6c6c;
    height: 1px;
    width: 100%;
    margin: 20px 0 20px;
}
.carousel-column:nth-child(2n) .carousel-divider{
    background-color: #ff6666;
}
.carousel-column .contenido-carousel{
    font-family: 'Work Sans Regular';
    color: #454545;
    font-size: 7pt;
}
.carousel-column:nth-child(2n) .contenido-carousel{
    color: #454545;
}
.h-fit{
    height: fit-content;
}

/***************************** respuesta   *************************+*/
.txt-gracias{
    font-family: 'Work Sans Bold';
    color: #fff;
    text-align: center;
    width: 440px;
    height: auto;
    margin-bottom: -60px;
    padding: 20px 37px;
    border-radius: 6px;
    background-color: #ff6666cc;
}
.divider-gracias{
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.text-gracias{
    font-size: 16pt;
}
.text-gracias-contenido{
    font-size: 11pt;
    line-height: 1.25;
    font-family: 'Work Sans Regular';
}
.text-nombre{
    font-size: 17pt;
}
.text-cargo{
    font-size: 13pt;
}

.body-respuesta{
    background-color: #1d1d1b;
}
.content-respuesta-info{
    background-color: #fff;
    width: 1024px;
    margin: 0 auto;
}
.content-respuesta-top-banner,
.content-respuesta-main .main,
.content-respuesta-info .info-2,
.content-respuesta-banner .banner{
    
    width: 1024px;
    margin: 0 auto;
}

.content-respuesta-info .info{
    width: 700px;
    margin: 0 auto;
}
.content-respuesta-top-banner{
    color: #fff;
    background-color: #1d1d1b;
}
.content-respuesta-top-banner .top-banner{
    padding: 20px 0px;
}
.content-respuesta-banner .banner{
    padding: 15px 25px;
    background-color:#776da1;
}
.content-respuesta-main .main{
    justify-content: space-between;
    gap: 20px;
    height: 757px;
    padding: 10px 30px;

    background-image: url('../images/bg-gracias.jpg');
    background-size: cover;
}
.content-respuesta-info .info{
    padding: 60px 0px 20px;
    border-radius: 0;
    background-image: none;
    box-shadow: none;
    background-color: #fff;
}


.divider-white{
    width: 2px;
    height: 76px;
    background-color: #fff;
}
.titulo-reta{
    line-height: 0.9;
}
.titulo-1{
    font-size: 26pt;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.titulo-2{
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 2.3px;
}
.text-lidera{
    font-size: 12pt;
    letter-spacing: 1.5px;
}
.bloque-wsp{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 700px;
    padding: 10px 20px 18px;
    font-size: 17pt;
    color: #fff;
    font-family: 'Work Sans Regular';
    background-color: #e06666;
}
.bloque-wsp::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Coloca el pseudo-elemento encima del contenido */
    left: 75%;
    border-width: 40px;
    border-style: solid;
    border-color: transparent transparent #e06666 transparent;
    transform: translateX(-50%); /* Centra horizontalmente el pseudo-elemento */
  }
a.btn-conversemos{
    margin-top: -22px;
    font-size: 22pt;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.content-pregunta{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.pregunta{
    color: #e06666;
    font-size: 14pt;
    font-family: 'Work Sans Black';
}
.respuesta{
    color: #1d1d1b;
    font-size: 13pt;
    padding-bottom: 10px;
    line-height: 1.7;
    font-family: 'Work Sans Bold';
}
a.btn-pequeno{
    font-size: 13pt;
    padding: 5px 8px;
}
.divider-plomo{
    background-color: #AAAAAA;
    height: 1px;
    width: 100%;
}
.compartimos{
    font-size: 16pt;
    color: #474747;
    font-family: 'Work Sans Bold';
}
.cuatro-preguntas{
    color: #e06666;
    display: flex;
    gap: 14px;
    align-items: center;
    font-family: 'Work Sans Black';
}
.cuatro-preguntas .numero{
    font-size: 36pt;
    font-family: 'Work Sans Black';
}
.cuatro-preguntas .letras{
    font-size: 26pt;
    font-family: 'Work Sans Black';
}
.respecto{
    font-size: 16pt;
    color: #474747;
    font-family: 'Work Sans Regular';
}
ul{
    padding-left: 1rem;
}
.zoomx2{
    transform: scale(1.2);
}
.columna-compartimos{
    width: 50%;
}
.bg-footer{
    background-image: url('../images/bg-footer.jpg');
    height: 115px;
}
.rotar-texto{
    position: relative;
    width: 40px;
}
.text-90{
    position: absolute;
    transform: rotate(-90deg);
    bottom: 65px;
    right: -10px;
    font-size: 11pt;
}
.btn-hablemos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    width: 155px;
    height: 55px;
    color: #fff;
    font-family: 'Work Sans Bold';
    font-size: 14pt;
    line-height: 1.05;
    border-radius: 10px;
    background-image: url('../images/bg-btn-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-hablemos:hover,
.btn-hablemos:active{
    color: #ffffffb9;
}
.asesores{
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
.asesores.ultimo{
    border-bottom-color: transparent;
}
.nombre{
    font-size: 13pt;
    line-height: 1.25;
    font-family: 'Work Sans Black';
}
.bg-footer-asesores{
    background-color: #e06666;
    align-items: center;
}
.bg-footer-asesores .text-contacto-titulo{
    border-left-color: #fff;
    color: #fff;
    margin-left: -15px;
    text-transform: uppercase;
    font-family: 'Work Sans Regular';
}
.bg-footer-asesores .contacto,
.bg-footer-asesores .txt-dato div,
.bg-footer-asesores .text-egp{
    color: #fff;
}
.bg-footer-asesores .contacto{
    font-family: 'Work Sans Black';
}

@media all and (max-width: 992px){
    .content-top-banner .top-banner,
    .content-main .main,
    .content-info .info{
        width: 100%;
    }
    .content-main .main img.float-end{
        width: 240px;
    }
    .content-top-banner .top-banner {
        padding: 40px 0px;
    }
    .content-contacto{
        padding: 20px 0;
    }
    .content-info .info-2{
        width: 100%;
    }
    .main{
        padding: 20px 20px;
        height: 1040px;
        background-position-x: -50px;
        background-size: cover;
    }
    .info{
        background-size: cover;
    }
    .text-footer{
        text-align: center;
    }
    .cta-contacto{
        width: 100%;
    }
    .info-botones{
        width: 100%;
    }
    .col-elegir{
        width: 48%;
    }
    .banner img {
        width: 300px;
    }
    .top-banner img {
        width: 165px;
    }
    .divider-white-vertical{
        display: none;
    }
    .content-info .info-3{
        width: 100%;
    }
    .titulo-top{
        font-size: 10pt;
    }
    .texto-gestion{
        font-size: 20pt;
    }
    .form{
        align-self: center;
    }
    .carousel-column {
        width: calc(100% / 3);
    }
    .text-gestion-efectiva,
    .txt-mobile-right{
        text-align: right;
        align-items: end;
    }
    .content-respuesta-info{
        width: 100%;
    }
    .content-respuesta-info .info{
        width: 100%;
        padding: 90px 0px 20px;
    }
    .bloque-wsp{
        width: 100%;
    }
    .columna-compartimos{
        width: 100%;
    }
    .seccion-compartimos{
        align-items: center;
        justify-content: center;
    }
    .body-respuesta .main{
        padding: 10px 20px 0px;
    }
    .txt-gracias{
        width: 100%;
        margin-bottom: -80px;
    }
}
@media all and (max-width: 576px){
    .carousel-column {
        width: 100%;
    }
    .col-elegir{
        width: 100%;
    }
}